[Unit]
Description=joustmania-party
After=network.target
After=bluetooth.target

[Service]
Type=dbus
BusName=com.joustmania.party
User=joustmania
WorkingDirectory=/usr/share/joustmania
ExecStart=/usr/bin/python piparty.py
TimeoutSec=90
Restart=always

[Install]
WantedBy=multi-user.target
