[Unit]
Description=joustmania-party
After=network.target
After=bluetooth.target

[Service]
Type=dbus
BusName=com.joustmania.party
User=joustmania
RuntimeDirectory=joustmania-party
WorkingDirectory=/usr/share/joustmania
Environment=XDG_RUNTIME_DIR=/run/joustmania-party
ExecStart=/usr/bin/python /usr/share/joustmania/piparty.py
TimeoutSec=90
Restart=always

[Install]
WantedBy=multi-user.target
